.hero {
  display: flex;
  flex-direction: column;
  &__loc {
    @include flex-center;
    padding: 1rem 0;
    background: darken(whitesmoke, 4%);
    color: lighten($colour-text, 20%);
    z-index: -1;
    p {
      padding-left: 1rem;
    }
  }
  &__content {
    text-align: center;
    background-color: whitesmoke;
    padding: 2rem 0;
    h2 {
      padding: 0 3rem;
    }
    p {
      font-weight: lighter;
      font-size: 18px;
      padding: 1rem;
    }
  }

  &__img {
    height: 300px;
    object-fit: cover;
  }
}

.restaurants {
  background-color: $white-smoke;
  padding: $padding-space;

  &__grid {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}
