*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

.m-section {
  margin: $margin-section;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  overflow: auto;
}
