*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.m-section {
  margin: $margin-section;
}

i {
  color: $colour-text;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
