*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  padding: 0 1rem;

  @media screen and (min-width: map-get($breakpoints, tablet)) {
    padding: 0 4rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

li {
  list-style-type: none;
}

.desktop {
  display: none;
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
  .mobile {
    display: none;
  }
}
