@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: $font-text;

  h1 {
    font-size: 18px;
    font-weight: lighter;
    font-family: $font-title;
    color: $color-primary;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: lighter;
    color: $color-name;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    font-weight: lighter;
    color: $color-primary;
  }

  p {
    font-size: 14px;
  }
}
