$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiaire: #99e2d0;
$white-smoke: #f5f5f5;
$colour-white: #fff;
$colour-text: #000;

// $heading-shadow-size: 0.55rem;
$margin-section: 4rem 1rem;
$margin-space: 1.5rem 0;
// $grid-gutter: $layout-margin * 0.25;
