*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  max-width: 1440px;
}

.container {
  padding: 1rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

li {
  list-style-type: none;
}
