#photographers {
  margin: 2rem 0;

  > div {
    padding: 1.5rem 0;
    line-height: 1.7;
  }

  &__info {
    padding: 1rem 0;
  }

  &__profil {
    width: 230px;
    height: 230px;
    @include img-profil;
  }

  &__price {
    color: $color-text;
  }
}
