.header {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: map-get($breakpoints, tablet)) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper__mobile {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    justify-content: space-between;
  }

  &__title {
    align-self: center;
  }

  &__img {
    margin-left: -2rem;
    width: 220px;
    height: auto;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
      width: 120px;
    }
  }

  &__nav {
    &__item {
      margin: -0.1rem;
      display: inline;
    }
  }
}
