.photographer {
  &__profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.4;

    &__img {
      @include img-profil;
      width: 110px;
      height: 110px;
    }
  }

  &__artworks {
    margin: 3rem 0;
    color: $color-primary;

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 10px;
      object-position: top;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 0.7rem;
    }
  }
}
