.card__resto {
  position: relative;
  overflow: hidden;
  background: $colour-white;
  margin: $margin-space;
  box-shadow: $box-shadow;
  @include card-form;

  img {
    height: 170px;
    @media screen and (min-width: map-get($breakpoints, tablet)) {
      height: 230px;
    }
    width: 100%;
    object-fit: cover;
  }

  p {
    line-height: 2;
  }

  &__button {
    position: absolute;
    z-index: 1;
    color: darken($colour-tertiaire, 40%);
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    right: 1rem;
    top: 1rem;
    background-color: $colour-tertiaire;
  }

  &__infos {
    padding: 15px;
    @include flex-between;
    align-items: center;
  }
}

.cardmenu {
  @include flex-between;
  border-radius: 20px;
  background: $colour-white;
  margin: 1rem 0.5rem 0.5rem;
  max-height: 3.7rem;
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    max-height: 4.37rem;
  }
  overflow: hidden;
  filter: drop-shadow($box-shadow);

  &__right {
    background: $colour-tertiaire;
    border-radius: 0 20px 20px 0;
    position: relative;
    right: 0;
    overflow: hidden;
    animation-name: left-to-right;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  &__left {
    @include flex-between;
    border-radius: 20px;
    background: $colour-white;
    flex-grow: 1;
    padding: 0.5rem 1rem;
  }

  &__info {
    line-height: 1.6;
  }

  &__price {
    font-weight: bold;
    padding: 0.2rem 1rem;
    align-self: flex-end;
  }

  &:hover {
    cursor: pointer;

    .cardmenu__right {
      animation-name: right-to-left;
      animation-duration: 250ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
      display: grid;

      &::after {
        position: absolute;
        place-self: center;

        /* Font Awesome */
        font-family: "Font Awesome 5 Free";
        font-size: 1.5rem;
        font-weight: 900;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f058"; /* fa-check-circle */
        color: $colour-white;

        /* Rotate animation */
        animation: rotation 1s;
      }
    }

    .cardmenu__info {
      h3,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 53vw;
        @media screen and (min-width: map-get($breakpoints, desktop)) {
          max-width: 16rem;
        }
      }
    }
  }
}
