.loader {
  background-color: $white-smoke;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  animation: fadeInOut 3s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    border-radius: 50%;
    border-top: 7px solid $colour-primary;
    width: 200px;
    height: 200px;
    animation: spin 1.5s linear infinite;
  }
}
