.loader {
  background-color: $white-smoke;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  animation: fadeInOut 3s;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "chargement...";
    text-transform: uppercase;
    font-family: "Amatic SC", cursive;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: pulse 1.5s linear infinite;
    background-image: linear-gradient(
      45deg,
      $colour-primary,
      $colour-secondary
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
