@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.desktop {
  display: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-size: 15px;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

nav li {
  list-style-type: none;
  border-bottom: solid #f2f2f2;
}

nav li:hover {
  border-bottom: solid #0065fc;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #0065fc;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup {
  color: #0065fc;
  font-weight: bold;
}

.nav-links {
  display: flex;
  text-align: center;
}

.nav-link {
  width: 50%;
}

/* form search  */
.input-group-text {
  border-radius: 0.75rem;
}

.form-control {
  height: auto;
}

.input-group-text {
  color: black;
}

.btn {
  border: solid transparent;
  background-color: #0065fc;
  border-radius: 0 25% 25% 0;
}

.fa-search {
  color: white;
}
/* form search  */

/* filtres */
.filtre p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.input-icons i {
  border-radius: 100%;
  background-color: #deebff;
  color: #0065fc;
  text-align: center;
}

.input-icons li {
  border: solid 2px #f2f2f2;
  border-radius: 100px;
  width: fit-content;
  margin: 0 0.5rem 0.5rem 0;
}

.input-icons li a {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.icon {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.filtre-info i {
  border: solid 1px grey;
  border-radius: 100%;
  font-size: 14px;
  color: #0065fc;
  width: 30px;
  height: 25px;
  text-align: center;
}

.mark-info {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 1rem;
}
/* filtres */

.card-form {
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.fa-star {
  font-size: 0.6rem;
  margin-top: 1.5rem;
}

/* card-populaire */
.populaire {
  background-color: #f2f2f2;
  padding: 1rem;
}

.title-populaire {
  justify-content: space-between;
  align-items: center;
}

.card-populaire {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.card-populaire img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border: solid 0.3rem transparent;
  border-radius: 25px 0 0 25px;
}

.card-populaire p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-top: 8px;
}

.fa-star {
  color: #f2f2f2;
}
/* card-populaire */

#hebergements {
  padding: 1rem;
}

.card-product {
  overflow: hidden;
  margin: 1rem 0;
}

.card-product > img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border: solid 0.3rem transparent;
  border-radius: 25px 25px 0 0;
}

.card-product p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-product-infos {
  padding: 0.7rem;
  padding-left: 1rem;
}

.checked {
  color: #0065fc;
}

#activites {
  padding: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  nav li {
    list-style-type: none;
    border-bottom: none;
  }

  nav li:hover {
    border-bottom: none;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-link {
    margin: 0 2rem;
  }

  .filtre {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: baseline;
  }

  .filtre p {
    padding-right: 1.5rem;
  }

  .input-icons li:hover {
    background: #deebff;
    transition: all 0.5s ease-out;
  }
}
