.hero__img {
  z-index: -1;
}

.restaurant {
  border-radius: 45px 45px 0 0;
  background: $white-smoke;
  margin-top: -3rem;

  &__title {
    @include flex-between;
    padding: $padding-section 0;
    align-items: center;
  }
}

.menu__article {
  @media screen and (min-width: map-get($breakpoints, large-tablet)) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.menu {
  margin-top: 2rem;

  &__title {
    padding-left: 1rem;
    margin-bottom: 0.3rem;
    line-height: 2;
    position: relative;

    &::after {
      content: "";
      height: 3px;
      width: 2.5rem;
      background-color: $colour-tertiaire;
      position: absolute;
      bottom: 0;
      left: 1rem;
    }
  }
}

.btn--menu {
  width: 50%;
  @media screen and (min-width: map-get($breakpoints, large-tablet)) {
    width: 32%;
  }
}
