.footer {
  padding: $padding-section;
  background-color: lighten($colour-text, 25%);

  img {
    width: 120px;
    height: 30px;
    filter: invert(1);
    margin-bottom: 0.5rem;
  }

  &__list {
    color: $colour-white;
    padding: 0.3rem 0;
    font-size: 17px;

    &:hover {
      cursor: pointer;
    }

    &--icon {
      @include size-icon;
      margin-right: 1.2rem;
      text-align: center;
    }
  }
}
