/* color */
$color-primary: #901c1c;
$color-secondary: #db8876;
$color-tertiaire: #fafafa;
$color-name: #d3573c;
$color-text: #525252;

/* font */
$font-title: "DM Sans", sans-serif;
$font-text: "DM Sans", sans-serif;

/* border */
$border-radius: 10px;

/* media query */
$breakpoints: (
  tablet: 768px,
  large-tablet: 992px,
  desktop: 1200px,
);
