.header {
  &__img {
    width: 200px;
    margin-left: -1.5rem;
  }

  &__nav {
    &__list {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2rem 0;
    }
  }
}
